body {
	background-color: white;
}


.container {
	margin: 0 auto;
	width: 960px;
	font-size: 100%;
	line-height: 1.5;
}



h1,
h2,
h3, 
nav, 
.popular-articles, 
.activities, 
.page-header a {
	font-family: 'Fjalla One', sans-serif;
}



p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}





/*-------------------------Header----------------------*/


header {
	background: white;
	width: 960px;
	height: 81px;
	border-bottom: 1px solid #cdcdcd;
}


span {
	color: #861919;
}



h1 {
	float: left;
	height: 26px;
	width: 195px;
	margin-top: 36px;
	margin-left: 13px;
}


ul {
	width: 260px;
	height: 23px;
	margin-right: 13px;
}


li {
	float: left;
	margin-top: 25px;
	margin-right: 44px;
}



.top-nav {	
	
	height: 21.5px;
	width: 210px;
	margin-left: 738px;
}


.mountain {
	float: left;
	height: 44px;
	width: 60px;
	margin-top: 25px;
	margin-left: 10px;
	margin-bottom: 11px;
}



li {
	font-size: 18px;
	color: #3c3d40;
}


h1 {
	font-size: 30px;
	color: #3c3d40;
}


header a {
	color: #3c3d40;
}




/*-----------------------------MAIN------------------------------*/



main {
	background: #f9f9f9;
	
	
	
	
}

.background-img {
	background-image: url(../img/banner-image.jpg);
	background-repeat: no-repeat;
	width: 960px;
	height: 250px;
	padding-top: 160px;
}


.box-text {
	
	background-color: white;
	width: 350px;
	height: 190px;
	margin-left: 40px;
	padding-top: 20px;
	padding-left: 24px;
	padding-right: 52px;	
}


.home {

	margin-left: 10px;
	padding-bottom: 8px;
	padding-top: 20px;	
}

	
.home a {
	font-family: arial, sans-serif;
	color: #3c3d40; 
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}



.banner-bgnd {
	height: 420px;


}

h2 {
	background-color: white;
}


.activities {
	font-size: 24px;
	color: #3c3d40;
}


.content-body h2 {
	font-size: 48px;
	color: #3c3d40;
}


main h3 {    /*------Popular Articles------*/
	font-size: 36px;
	color: #3c3d40;
	border-bottom: 12px solid #861919;
	width: 641px;
	padding-top: 58px;
	margin-left: 10px;
}



.hiking,
.camping,
.rafting,
.fishing {
	float: left;
	width: 450px;
	height: 184px;
	padding-top: 266px;
	margin-right: 10px;
}





.hiking {
	background-image: url(../img/hiking-trail.jpg);
	background-repeat: no-repeat;
	width: 460px;
	margin-left: 10px;
}
	
	
	
.camping {
	background-image: url(../img/tent-image.jpg);
	background-repeat: no-repeat;
	width: 460px;
	margin-left: 10px;
	
}


.rafting {
	background-image: url(../img/whitewater-rafting.jpg);
	background-repeat: no-repeat;
	width: 460px;
	margin-left: 10px;
	padding-bottom: 19px;
}



.fishing {
	background-image: url(../img/fishing-image.jpg);
	background-repeat: no-repeat;
	width: 460px;
	margin-left: 10px;
	padding-bottom: 19px;
}



h4 {
	float: left;
	background-color: #f9f9f9;
	padding-right: 78px;
	padding-left: 8px;
	padding-top: 3px;
}



.blurb {
	float: left;
	margin-top: 25px; 
}









/*--------------------------FOOTER-------------------------*/




footer {
	background-color: #861919;
	height: 308px;
}


footer h3 {
	text-align: center;
	font-size: 36px;
	color: white;
	padding-top: 53.5px; 
}



footer p {
	text-align: center;
	font-size: 16px;
	color: white;
	padding-bottom: 28px;
}

.footer-nav {
	text-align: center;
}




footer img {
	margin-right: 19px;	
}



footer ul {
	text-align: center;
	width: 700px;
	margin-left: 224px;
}



footer li{
	float: left;
	margin-right: 9px;
}

	
ul a {
	text-decoration: none;
}



/*---------------------Hidden--------------------*/



.hidden {
	display: none;
}